# MongoDB URI connection string
MONGODB_CONN_URI=

# MongoDB max connection pool size
MONGODB_MAX_CONNECTION_POOL_SIZE=5

# MongoDB database name
DB_NAME=

# Project detail collection
PROJECT_DETAIL_COLLECTION=

# Profiles collection
PROFILES_COLLECTION=

# Express server port
PORT=3000

# User service log file path
USER_SERVICE_LOG_FILE=

# Profile service log file path
PROFILE_SERVICE_LOG_FILE=

# Project service log file path
PROJECT_SERVICE_LOG_FILE=

# Database service log file path
DATABASE_SERVICE_LOG_FILE=

# JWT secret string
JWT_SECRET=SECRET_STR

# JWT expiration duration
TOKEN_LIFESPAN=7 days

# Allowed social media platform names for LSI
ALLOWED_SOCIAL_PLATFORM_NAMES=


# Custom (English) alphabets for creating LSI
ENGLISH_ALPHAS=

# LSI milestone target for notification
LSI_MILESTONE_TARGET=

# LSI milestone notification email transport options
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
NOTIFICATION_EMAIL_SENDER=
